GLYCAN_LIBRARY/

webapp_output/
webapp_work/

tmp_files/input_sugaring
tmp_files/merged_traj.pdb
tmp_files/merged_traj.xtc

__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.ipynb_checkpoints

.unison/
.vscode/

